<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <main>
        {{{body}}}
    </main>

    {{!-- {{#if logged_in}}
    <script src="/js/logout.js"></script>
    //added script for if not logged in
    {{else}}
    <script src="/js/login.js"></script>
    {{/if}} --}}
</body>
</html>