<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <form action="/profile" class="login-form">
        <input id="email-login" type="email" name="email" placeholder="Email" required>
        <input id="password-login" type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <script src="/public/login.js"></script>
</body>

</html>