<h1 style="text-align: center; font-size: 2rem; font-weight: bold;">Create a New Post</h1>

<form class="post-form">

  <div>
    <label for="postTitle">Post Title</label>
    <input type="text" id="postTitle" name="postTitle"></input>
  </div>

  <div>
    <label for="postContent">Post Content</label>
    <textarea id="postContent" name="postContent" cols="50" rows="3"></textarea>
  </div>

  <button type="submit" class="postBtn btn-block">Post</button>

</section>

<script src="./js/post.js"></script>