<h1 style="text-align: center; font-size: 2rem; font-weight: bold;">Create a New Post</h1>

<form class="post-form">

  <div>
    <label for="postTitle">Post Title</label>
    <textarea id="postTitle" name="postTitle"></textarea>
  </div>

  <div>
    <label for="post-content">Post Content</label>
    <textarea id="post-content" name="post-content"></textarea>
  </div>

  <button type="submit" class="postBtn">Post</button>

</form>